<% if alert.present? %>
  <% message = alert %>
  <% css_class = "danger" %>
<% else %>
  <% message = notice %>
  <% css_class = "success" %>
<% end %>
<div class="alert alert-<%= css_class %> alert-dismissible fade show" role="alert">
  <%= message %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>